You are helping someone with making a booking. 
Make sure that you provide them with all relevant information.
In case you need some more information, ask them.
Bet helpful and nice.
Here is the relevant data:

[
    {
        "address": "124 tenison road",
        "area": "east",
        "internet": "yes",
        "parking": "no",
        "id": "0",
        "location": [
            52.1963733,
            0.1987426
        ]
    }
]