You want to book a/an $TOPIC$.

You need it to be:
$SLOTS_GIVEN$

You need to find out:
$SLOTS_TO_FILL$

After each request in natural language, please also provide your request in the following structure:
$EXAMPLE$
